---
import Contact from "@/components/ui/forms/Contact.astro";
---

<section
    class="container mx-auto max-w-12xl relative z-10 pb-20 px-4 sm:px-6 md:px-8"
>
    <header
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-once="true"
    >
        <h2 class="text-4xl font-bold">
            I’m always open to new collaborations — say hi!
        </h2>
        <p class="text-neutral-400 mt-4 text-lg max-w-4xl">
            Always excited to meet new people, share ideas, and create something
            meaningful. Don’t hesitate to reach out!
        </p>
    </header>
    <article
        data-aos="fade-up"
        data-aos-duration="1000"
        data-aos-delay="100"
        data-aos-once="true"
    >
        <Contact />
    </article>
</section>
