---
import SocialApps from "./SocialApps.astro";
---

<section class="relative z-20">
    <div
        class="hairline mt-12 w-full"
    >
    </div>

    <div class="mt-4 flex flex-col gap-3 md:flex-row md:items-center">
        <SocialApps />
    </div>
</section>
