---
import Button from "@/components/ui/buttons/Button.astro";
import SocialApps from "./SocialApps.astro";
---

<section class="relative z-50">
    <div
        class="h-px w-full bg-linear-to-r from-primary-green via-white to-primary-green mt-52"
    >
    </div>

    <div class="flex gap-2 mt-4">
        <Button
            text="Schedule a 15 minutes meeting"
            variant="secondary"
            href="/hire-me"
            ariaLabel="Schedule a meeting with me"
        />

        <SocialApps />
    </div>
</section>
